[client]
port = 6306
socket = /tmp/mysql55.sock
default-character-set = utf8

[mysqld]
port = 6306
socket = /tmp/mysql55.sock
skip-name-resolve
skip-external-locking
key_buffer_size = 128M
max_allowed_packet = 8M
table_open_cache = 1024
sort_buffer_size = 12M
read_buffer_size = 12M
read_rnd_buffer_size = 32M
myisam_sort_buffer_size = 64M
thread_cache_size = 128
query_cache_size = 128M
thread_concurrency = 8
event_scheduler = 1
lower_case_table_names = 1
log-bin = /f001/mylog/MYORCL/binlog/log-bin
log_bin_trust_function_creators = 1
max-binlog-size  = 512M
binlog_format = MIXED

server-id = 1

# New append variables
character-set-server = utf8
datadir = /f001/mydata/MYORCL
pid-file= /f001/mylog/MYORCL/MYORCL.pid
log-error = /f001/mylog/MYORCL/MYORCL.err
slow_query_log = 1
slow_query_log_file = /f001/mylog/MYORCL/slow.log
long_query_time = 3
back_log = 384
binlog_cache_size = 2M
concurrent_insert = 2
expire_logs_days = 99
join_buffer_size = 16M
max_binlog_size = 512M
max_connect_errors = 30
max_connections = 1024
max_error_count = 256
max_length_for_sort_data = 4096
wait_timeout = 288000

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir = /f001/mydata/MYORCL
#innodb_data_file_path = ibdata1:100M:autoextend
innodb_data_file_path = ibdata1:1024M;ibdata2:10M:autoextend
innodb_file_per_table = 1 
innodb_log_group_home_dir = /f001/mylog/MYORCL
innodb_buffer_pool_size = 1024M 
innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 512M 
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2 
#innodb_flush_log_at_trx_commit = 1 
innodb_lock_wait_timeout = 50
innodb_thread_concurrency = 8

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
